In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import seaborn as sns
%matplotlib inline
import statsmodels.api as sm
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.tsa.arima.model import ARIMA
from statsmodels.tsa.statespace.sarimax import SARIMAX
from pmdarima import auto_arima
from statsmodels.graphics.tsaplots import plot_acf , plot_pacf
from pandas.plotting import autocorrelation_plot
from statsmodels.tsa.stattools import adfuller
from math import sqrt
from sklearn.metrics import r2_score , mean_absolute_error , mean_absolute_percentage_error , mean_squared_error
import pickle
import warnings
warnings.filterwarnings('ignore')
from prophet import Prophet

In [28]:
os.chdir('C:\\Users\\santa\\OneDrive\\Documents\\KMUTT-4\\Final_PJ\\Data')
prop = pd.read_csv('Merged Data.csv')
prop.head()

         Date      Value  Policy rate
0  2005-02-28  38.459500         2.00
1  2005-03-31  38.556522         2.25
2  2005-04-30  39.515952         2.25
3  2005-05-31  39.762045         2.25
4  2005-06-30  40.886818         2.50

In [29]:
prop.rename(columns={'Date': 'ds', 'Value': 'y'}, inplace=True) #เปลี่ยนหัวตารางเนื่องจากตัวโมเดลไม่อ่านชื่อหัวตาราง

In [30]:
prop['ds'] = pd.to_datetime(prop['ds'])

In [38]:
prop.head()

          ds          y  Policy rate
0 2005-02-28  38.459500         2.00
1 2005-03-31  38.556522         2.25
2 2005-04-30  39.515952         2.25
3 2005-05-31  39.762045         2.25
4 2005-06-30  40.886818         2.50

In [31]:
prop_train = prop.loc[:int(0.8 * len(prop))]
prop_test  = prop.loc[:int(0.2 * len(prop))]

In [33]:
model_prop = Prophet()

In [34]:
model_prop.add_seasonality(name = 'monthly', period = 30.5, fourier_order = 5)

In [35]:
model_prop.fit(prop_train)

00:52:29 - cmdstanpy - INFO - Chain [1] start processing
00:52:29 - cmdstanpy - INFO - Chain [1] done processing

In [36]:
future = model_prop.make_future_dataframe(periods=12)
forecast = model_prop.predict(future)

In [39]:
print(forecast[['ds', 'yhat', 'yhat_lower', 'yhat_upper']])

            ds       yhat  yhat_lower  yhat_upper
0   2005-02-28  40.325955   39.025532   41.722327
1   2005-03-31  40.808323   39.385790   42.097286
2   2005-04-30  39.940374   38.633922   41.300280
3   2005-05-31  40.679995   39.384269   41.859110
4   2005-06-30  40.066748   38.733933   41.475719
..         ...        ...         ...         ...
191 2020-06-08  41.775191   40.489782   43.079851
192 2020-06-09  42.940489   41.740685   44.290249
193 2020-06-10  44.779544   43.510164   46.136207
194 2020-06-11  47.537135   46.324904   48.875213
195 2020-06-12  49.745492   48.568937   51.038743

[196 rows x 4 columns]